.feature-5 p:last-of-type {
     margin-bottom: unset; 
}

.box-shadow {
    box-shadow: -3px 2px 12px rgba(37, 37, 37, 0.52);
}

.text-shadow {
    text-shadow: -3px 2px 12px rgba(37, 37, 37, 0.52);
}

table th, table td {
    padding: 0.25em;
    color: #252525
}

table {
    margin-bottom: 0;
}

.tabs--folder .tabs-content table.border--round {
    border-radius: 0 6px 6px 6px;
    border: 1px solid #ececec;
}


.tabs--folder .tabs-content {

    padding: 0;
    border: 0;
    bottom: 10px
}

.modal-container .modal-content .modal-close-cross {
    right: 31em;
}

.bar {
    padding: 1em 0;
}

.bar .logo {
    max-height: 3em;
    height: 3em;
    top: 8px;
}

.icon--xs{
    font-size: 1.2em
}

