@font-face {
    font-family: 'fs_joeyheavy';
    src: url('../fonts/fsjoey-heavy-webfont.woff2') format('woff2'),
         url('../fonts/fsjoey-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500_italic';
    src: url('../fonts/museosans_500_italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans900';
    src: url('../fonts/museosans_900-webfont.woff2') format('woff2'),
         url('../fonts/museosans_900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans100';
    src: url('../fonts/museosans-100-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans100_italic';
    src: url('../fonts/museosans-100italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300_italic';
    src: url('../fonts/museosans-300italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700_italic';
    src: url('../fonts/museosans-700italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans-700italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans900_italic';
    src: url('../fonts/museosans-900italic-webfont.woff2') format('woff2'),
         url('../fonts/museosans-900italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
